<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
      <h1>Minnesotans Googled these Democratic candidates the most throughout 2019</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">January 14, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Less than two months before the state's presidential primary elections, former Vice President Joe Biden, Vermont Sen. Bernie Sanders and the state's own Sen. Amy Klobuchar are running a close race for Minnesotans' attention — that is, if their Google searches are any indication.</p>

      <p>Weekly search data provided by Google for 2019 shows that among the fragmented field of candidates for the Democratic presidential nomination, the attention of Minnesotans has veered between front-runners. Boosts in search queries often correlated with official campaign announcements, debate performances and other news relevant to the race.</p>

      <p>Political analysts have long debated the usefulness of Google trends to gauge public sentiment in politics. Although most agree search queries cannot predict voter intent, the data have at times provided interesting indicators.</p>
        
        
      <p>For instance, during 2016's presidential primaries, <a href="https://bit.ly/36L9CFW" target="new_">trends data</a> showed significant interest in Sanders' candidacy before he went on to win Minnesota's caucus that year.</p>

      <p><a href="https://medium.com/google-news-lab/what-is-google-trends-data-and-what-does-it-mean-b48f07342ee8" target="new_">Google Trends indexes interest of a search term</a> on a scale from 0 to 100. Those rated 100 have the maximum amount of interest for a time and location, and other scores are relative to that.</p>

      </section>

      <section class="container-lg">
          <p>The final full week of December's Google search ranks showed Sanders again surging in interest among Minnesotans, with Biden following closely behind. Businessman Andrew Yang and Rep. Tulsi Gabbard, of Hawaii, also ranked higher than their starting points in 2019.</p>
        </section>
        
        <div class="slide">
          <div class="chartTitle">Google Trends search interest by candidate, week ending Dec. 29, 2019</div>
          <div id="chart" class="chart"></div>
        </div>
        

  <div class="slide">

      <div class="chartTitle">Google Trends monthly search interest by candidate, 2019</div>
      <p></p>

      <div class="adjacent">
          <div class="candidateName divert">Joe Biden</div>
          <div id="chartTrend6" class="chart"></div>
          <div class="rank">Overall Google Trends index: <span>100</span></div>
       </div>

       <div class="adjacent">
          <div class="candidateName green3">Bernie Sanders</div>
          <div id="chartTrend2" class="chart"></div>
          <div class="rank">Overall Google Trends index: <span>91</span></div>
       </div>


        <div class="adjacent">
          <div class="candidateName blue3">Amy Klobuchar</div>
          <div id="chartTrend0" class="chart"></div>
          <div class="rank">Overall Google Trends index: <span>77</span></div>
        </div>


        <div class="adjacent">
            <div class="candidateName purple3">Elizabeth Warren</div>
            <div id="chartTrend5" class="chart"></div>
            <div class="rank">Overall Google Trends index: <span>62</span></div>
        </div>


     <div class="adjacent">
        <div class="candidateName orange3">Pete Buttigieg</div>
        <div id="chartTrend11" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>61</span></div>
     </div>


    <div class="adjacent">
        <div class="candidateName gray4">Andrew Yang</div>
        <div id="chartTrend1" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>49</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName red5">Tulsi Gabbard</div>
        <div id="chartTrend13" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>39</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Michael Bloomberg</div>
        <div id="chartTrend10" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>14</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Tom Steyer</div>
        <div id="chartTrend12" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>9</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Michael Bennet</div>
        <div id="chartTrend9" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>6</span></div>
     </div>

     <div class="adjacent">
        <div class="candidateName gray3">John Delaney</div>
        <div id="chartTrend7" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>4</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Deval Patrick</div>
        <div id="chartTrend4" class="chart"></div>
        <div class="rank">Overall Google Trends index: <span>2</span></div>
     </div>

  </div>


  <!-- <div class="rule"></div> -->
  <section class="container-lg">
    <p>Search interest also can be examined geographically, with some areas of the state showing more curiosity about one candidate more than others..</p>

    <p>Across 2019, <span class="legendary divert">Joe Biden</span> was the most searched candidate in many Minnesota counties, while queries about <span class="legendary blue3">Amy Klobuchar</span> and <span class="legendary green3">Bernie Sanders</span> also demonstrated the broadest interest.</p>

    <p><span class="legendary purple3">Elizabeth Warren</span>, <span class="legendary orange3">Pete Buttigieg</span>, <span class="legendary red5">Tulsi Gabbard</span> and <span class="legendary gray4">Andrew Yang</span> also took some scattered top spots.</p>
</section>

  <div class="slide">
      <div class="chartTitle">Google Trends search interest by Minnesota county, 2019</div>
    <div id="mapCounties" class="map">
        <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
    </div>
    <p></p>
</div>


<section class="container-lg">
    <p>As the presidential field winnows and the DNC debate stage shrinks – tonight's has the smallest roster for this cycle yet – search interest could also get closer and more competitive.</p>

    <p>Polling for Minnesota's primary during Super Tuesday on March 3 has been sparse, and how closely search interest correlates to voting results remains to be seen.</p>
</section>

<div class="slide"><p><span class="byline">Data source: Google News Lab, Google Trends</span></p>
  <p><span class="byline">Note: Former candidates Marianne Williamson and Sen. Cory Booker (D, N.J.) were included in the dataset, but are not displayed since they suspended their campaigns prior to publication.</span></p>
</div>

<section class="container-lg">

    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesotans Googled these Democratic candidates the most throughout 2019" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>