
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
      <h1>Minnesotans Googled these Democratic candidates the most throughout 2019</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">January 13, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Elections in the digital age can provide multiple ways of measuring the electorate's enthusiasm for a candidate beyond traditional measures like polling, fundraising and endorsements.</p>

      <p>Search interest is one of those metrics that can reveal which candidates are drawing more attention from the general public. <a href="https://trends.google.com/trends/story/US_cu_o_FMW2oBAACFKM_en" target="new_">Data provided by Google Trends</a> shows which Democratic primary candidates Minnesotans have been searching for most throughout 2019. </p>

      <p>As more data is made available, this tracker will be updated.</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
    <h2 class="chartTitle">How curiosity about candidates has changed</h2>
    <p>Three Democratic primary candidates have drawn the most search interest from Minnesotans in 2019 so far: former Vice President Joe Biden, Sen. Bernie Sanders (D,VT) and the state's own Sen. Amy Klobuchar.</p>

    <p><a href="https://medium.com/google-news-lab/what-is-google-trends-data-and-what-does-it-mean-b48f07342ee8" target="new_">Google Trends rates interest of a search term</a> on a scale from 0 to 100. Those rated 100 – in this case Biden – have the maximum amount of search interest for a candidate, and other candidate's scores are presented as comparisons to that number.</p>
</section>

  <div class="slide">

      <div class="adjacent">
          <div class="candidateName divert">Joe Biden</div>
          <div id="chartTrend6" class="chart"></div>
          <div class="rank">Google Trends rank: <span>100</span></div>
       </div>

       <div class="adjacent">
          <div class="candidateName green3">Bernie Sanders</div>
          <div id="chartTrend2" class="chart"></div>
          <div class="rank">Google Trends rank: <span>91</span></div>
       </div>


        <div class="adjacent">
          <div class="candidateName blue3">Amy Klobuchar</div>
          <div id="chartTrend0" class="chart"></div>
          <div class="rank">Google Trends rank: <span>77</span></div>
        </div>


        <div class="adjacent">
            <div class="candidateName purple3">Elizabeth Warren</div>
            <div id="chartTrend5" class="chart"></div>
            <div class="rank">Google Trends rank: <span>62</span></div>
        </div>


     <div class="adjacent">
        <div class="candidateName orange3">Pete Buttigieg</div>
        <div id="chartTrend11" class="chart"></div>
        <div class="rank">Google Trends rank: <span>61</span></div>
     </div>


    <div class="adjacent">
        <div class="candidateName gray4">Andrew Yang</div>
        <div id="chartTrend1" class="chart"></div>
        <div class="rank">Google Trends rank: <span>49</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName red5">Tulsi Gabbard</div>
        <div id="chartTrend13" class="chart"></div>
        <div class="rank">Google Trends rank: <span>39</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName steel4">Cory Booker</div>
        <div id="chartTrend3" class="chart"></div>
        <div class="rank">Google Trends rank: <span>17</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Marianne Williamson</div>
        <div id="chartTrend8" class="chart"></div>
        <div class="rank">Google Trends rank: <span>14</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Michael Bloomberg</div>
        <div id="chartTrend10" class="chart"></div>
        <div class="rank">Google Trends rank: <span>14</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Tom Steyer</div>
        <div id="chartTrend12" class="chart"></div>
        <div class="rank">Google Trends rank: <span>9</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Michael Bennet</div>
        <div id="chartTrend9" class="chart"></div>
        <div class="rank">Google Trends rank: <span>6</span></div>
     </div>

     <div class="adjacent">
        <div class="candidateName gray3">John Delaney</div>
        <div id="chartTrend7" class="chart"></div>
        <div class="rank">Google Trends rank: <span>4</span></div>
     </div>


     <div class="adjacent">
        <div class="candidateName gray3">Deval Patrick</div>
        <div id="chartTrend4" class="chart"></div>
        <div class="rank">Google Trends rank: <span>2</span></div>
     </div>

  </div>


  <div class="rule"></div>
  <section class="container-lg">
    <h2 class="chartTitle">Most searched candidates by county</h2>
    <p>Across 2019, <span class="legendary divert">Joe Biden</span> was the most searched candidate in many Minnesota counties, while curiosity about <span class="legendary blue3">Amy Klobuchar</span> and <span class="legendary green3">Bernie Sanders</span> also covered significant ground.</p>
    <p><span class="legendary purple3">Elizabeth Warren</span>, <span class="legendary orange3">Pete Buttigieg</span>, <span class="legendary red5">Tulsi Gabbard</span> and <span class="legendary gray4">Andrew Yang</span> also took some scattered top spots.</p>
</section>

  <div class="slide">
    <div id="mapCounties" class="map">
        <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
    </div>
    <p></p>
</div>

  <div class="slide">
    <div class="byline">Data source: Google News Lab, Google Trends</div>
  </div>

<section class="container-lg">
    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Minnesota's hidden veteran deathtoll continues its rise" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>